nav{
    height:6rem;
    width: 100%;
}

#airlogo{
    /*margin: 3rem;*/
    height: 4rem;
    width: 10rem;
}

@media (min-width: 1400px) { 
    #picgrid{
        height: 50%;
        width: 50%;
    }
 }

@media (max-width: 600px) {
    #picgrid{
        height: 10rem;
        width: 15rem;
    }
}

#card{
    background-color: aqua;
}